{
    "openapi": "3.0.0",
    "info": {
        "title": "Ezekia",
        "description": "### Software for Search Firms\n\nIntuitive, easy to use, fast and customizable",
        "termsOfService": "https://ezekia.com/#/terms/subscription-agreement",
        "contact": {
            "email": "support@ezekia.com"
        },
        "version": "2.1.1"
    },
    "servers": [
        {
            "url": "https://ezekia.com/api"
        }
    ],
    "paths": {
        "/clients": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Fetches all clients.",
                "operationId": "dae31db68821d82fe803b368cb0e5134",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/api.query"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.filterOn"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.sortBy"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.fields"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.exclude"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.counts"
                    },
                    {
                        "$ref": "#/components/parameters/api.sortOrder"
                    },
                    {
                        "$ref": "#/components/parameters/api.count"
                    },
                    {
                        "$ref": "#/components/parameters/api.from"
                    },
                    {
                        "$ref": "#/components/parameters/api.to"
                    },
                    {
                        "$ref": "#/components/parameters/api.since"
                    },
                    {
                        "$ref": "#/components/parameters/api.before"
                    },
                    {
                        "$ref": "#/components/parameters/api.between"
                    },
                    {
                        "$ref": "#/components/parameters/api.view"
                    },
                    {
                        "$ref": "#/components/parameters/api.withArchived"
                    },
                    {
                        "$ref": "#/components/parameters/api.archived"
                    },
                    {
                        "$ref": "#/components/parameters/api.fuzzy"
                    },
                    {
                        "$ref": "#/components/parameters/api.tags"
                    },
                    {
                        "name": "withPinned",
                        "in": "query",
                        "description": "By setting this parameter pinned clients will be returned first in the response.",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.company"
                                            }
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.links"
                                            }
                                        },
                                        "meta": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.pageMeta"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Fetches all companies.",
                "operationId": "882417607de182c657ba8c3296c4ae1a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/api.query"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.filterOn"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.sortBy"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.fields"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.exclude"
                    },
                    {
                        "$ref": "#/components/parameters/api.company.counts"
                    },
                    {
                        "$ref": "#/components/parameters/api.sortOrder"
                    },
                    {
                        "$ref": "#/components/parameters/api.page"
                    },
                    {
                        "$ref": "#/components/parameters/api.count"
                    },
                    {
                        "$ref": "#/components/parameters/api.from"
                    },
                    {
                        "$ref": "#/components/parameters/api.to"
                    },
                    {
                        "$ref": "#/components/parameters/api.since"
                    },
                    {
                        "$ref": "#/components/parameters/api.before"
                    },
                    {
                        "$ref": "#/components/parameters/api.between"
                    },
                    {
                        "$ref": "#/components/parameters/api.view"
                    },
                    {
                        "$ref": "#/components/parameters/api.withArchived"
                    },
                    {
                        "$ref": "#/components/parameters/api.archived"
                    },
                    {
                        "$ref": "#/components/parameters/api.fuzzy"
                    },
                    {
                        "$ref": "#/components/parameters/api.tags"
                    },
                    {
                        "name": "withPinned",
                        "in": "query",
                        "description": "By setting this parameter pinned companies will be returned first in the response.",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.company"
                                            }
                                        },
                                        "links": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.links"
                                            }
                                        },
                                        "meta": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.pageMeta"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Creates a company",
                "operationId": "bb4e3f7cc02c40f867a929e8d8d5ba10",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/api.company.fields"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.company.storeRequest"
                },
                "responses": {
                    "200": {
                        "description": "successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.company"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/{id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Fetches a company by ID",
                "operationId": "ee80dab80a9a970b1f09b9bf9bb56538",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/api.company.fields"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The company ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.company"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Company with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that company."
                    }
                }
            },
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Updates a company",
                "operationId": "c36aa16367238c6764533fa7bb9d51d4",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/api.company.fields"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The company ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.company.updateRequest"
                },
                "responses": {
                    "200": {
                        "description": "successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.company"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Company with that ID doesn't exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Company with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that company."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Companies"
                ],
                "summary": "Deletes a company by ID",
                "operationId": "4748102199cb5cb544c744e504fd67d4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The company ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Company with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to delete that company."
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Fetches all status tags of a particular type.",
                "operationId": "2eb9088f8a869db09d83eaa9c605312f",
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "The language that the categories should be translated to.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "en",
                                "de",
                                "fr",
                                "es"
                            ]
                        }
                    },
                    {
                        "name": "include[]",
                        "in": "query",
                        "description": "The categories to be included in the request. To show all categories, do not include this parameter.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "areas",
                                    "careers",
                                    "cities",
                                    "classifications",
                                    "countries",
                                    "companyTypes",
                                    "industries",
                                    "languages",
                                    "nalIndustries",
                                    "nalCareers",
                                    "teamSizes"
                                ]
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "The categories to be excluded from the request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "areas",
                                    "careers",
                                    "cities",
                                    "classifications",
                                    "countries",
                                    "companyTypes",
                                    "industries",
                                    "languages",
                                    "nalIndustries",
                                    "nalCareers",
                                    "teamSizes"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.category"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings": {
            "get": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Fetches all meetings.",
                "operationId": "b9dd62960330e3b5a30c2caf2e3dc126",
                "parameters": [
                    {
                        "parameter": "api.page",
                        "name": "page",
                        "in": "query",
                        "description": "Specify the page of items to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "api.order",
                        "name": "order",
                        "in": "query",
                        "description": "Sort order to show results",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "parameter": "api.sort",
                        "name": "sort",
                        "in": "query",
                        "description": "Sort field to order results",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_date_utc",
                                "created_at",
                                "updated_at",
                                "title"
                            ]
                        }
                    },
                    {
                        "parameter": "api.meeting.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.meeting.field"
                            }
                        }
                    },
                    {
                        "parameter": "api.past",
                        "name": "past",
                        "in": "query",
                        "description": "Return only past or upcoming meetings",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.overdue",
                        "name": "overdue",
                        "in": "query",
                        "description": "Return only overdue or non-overdue meetings",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.private",
                        "name": "private",
                        "in": "query",
                        "description": "Return only private or non-private meetings",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.pinned",
                        "name": "pinned",
                        "in": "query",
                        "description": "Return only private or non-pinned meetings",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.priority",
                        "name": "priority[]",
                        "in": "query",
                        "description": "Filter meetings by specific priorities",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.meeting"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Creates a meeting.",
                "operationId": "ebfb8b4b446f4a4c9c943079a7e18746",
                "parameters": [
                    {
                        "parameter": "api.meeting.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.meeting.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.meetingRequestStore"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.meeting"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that meeting and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/{id}": {
            "get": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Fetches a meeting by ID.",
                "operationId": "69492a3137553b68587c892d5dd13bb7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The meeting ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.meeting.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.meeting.field"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.meeting"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Meeting with that ID does not exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that meeting and they must have the correct 'edit' permissions for any associated context."
                    }
                }
            },
            "put": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Updates a meeting.",
                "operationId": "513ce17d232ed706d47948eac35999bc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The meeting ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.meeting.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.meeting.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.meetingRequestUpdate"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.meeting"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that meeting and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Deletes a meeting.",
                "operationId": "883a2c0a68a71346dc6051f2c146d224",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The meeting ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Meeting with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/{id}/pinned": {
            "put": {
                "tags": [
                    "Meetings"
                ],
                "summary": "Updates a meeting's pinned status.",
                "operationId": "a1a85271940ba9e873bea3965f463e97",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The meeting ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.meeting.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.meeting.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.meetingRequestUpdatePinned"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.meeting"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that meeting and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Fetches all tasks.",
                "operationId": "246b81e7c82d0e8ea5cb02e329b41bb4",
                "parameters": [
                    {
                        "parameter": "api.page",
                        "name": "page",
                        "in": "query",
                        "description": "Specify the page of items to be returned",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "api.order",
                        "name": "order",
                        "in": "query",
                        "description": "Sort order to show results",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "parameter": "api.sort",
                        "name": "sort",
                        "in": "query",
                        "description": "Sort field to order results",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_date_utc",
                                "created_at",
                                "updated_at",
                                "title"
                            ]
                        }
                    },
                    {
                        "parameter": "api.done",
                        "name": "done",
                        "in": "query",
                        "description": "Return only completed or active results",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.overdue",
                        "name": "overdue",
                        "in": "query",
                        "description": "Return only overdue or non-overdue tasks",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.private",
                        "name": "private",
                        "in": "query",
                        "description": "Return only private or non-private tasks",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.pinned",
                        "name": "pinned",
                        "in": "query",
                        "description": "Return only private or non-pinned tasks",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "parameter": "api.priority",
                        "name": "priority[]",
                        "in": "query",
                        "description": "Filter tasks by specific priorities",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    1,
                                    2,
                                    3,
                                    4
                                ]
                            }
                        }
                    },
                    {
                        "parameter": "api.task.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.task.field"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Creates a task.",
                "operationId": "a0238399b7d0d30b25d03ccc7c1d9736",
                "parameters": [
                    {
                        "parameter": "api.task.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.task.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.taskRequestStore"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.task"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{id}": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Fetches a task by ID.",
                "operationId": "e97836ef0296c760d3f08faa4c94a3d4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.task.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.task.field"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Task with that ID does not exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    }
                }
            },
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Updates a task.",
                "operationId": "9bf00c8eb8e602c26b97c59e5f1a4fbd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.task.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.task.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.taskRequestUpdate"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Deletes a task.",
                "operationId": "39f6185639dff05b50a3db8e18285b32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Task with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{id}/done": {
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Updates a task's completion status.",
                "operationId": "0a43bfd7df71dfac87b96124b3a4a91d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.task.fields",
                        "name": "fields",
                        "in": "query",
                        "description": "Fields can be included by passing them into the `fields` query parameter. Be careful as this will slow down request.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/api.task.field"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.taskRequestUpdateDone"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{id}/priority": {
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Updates a task's priority.",
                "operationId": "daa76ea340140022830728054464ce2f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.taskRequestUpdatePriority"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{id}/pinned": {
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Updates a task's pinned status.",
                "operationId": "3f6f13b0749a03eeced90a3eca919706",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The task ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.taskRequestUpdatePinned"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that task and they must have the correct 'edit' permissions for any associated context."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{type}/{id}/additional-info": {
            "get": {
                "tags": [
                    "Custom Values"
                ],
                "summary": "Retrieves all custom values for an item.",
                "operationId": "85132ece7d7cb16f2635c68efaf9806c",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of item query.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "companies",
                                "projects",
                                "people",
                                "opportunities"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The item ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.customValue"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    }
                }
            },
            "put": {
                "tags": [
                    "Custom Values"
                ],
                "summary": "Adds or updates a custom value for an item.",
                "operationId": "53de10aec1fdbfebadda08cb138a13c4",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of item to update.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "companies",
                                "projects",
                                "people",
                                "opportunities"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The item ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.customValue.updateRequest"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.customValue"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Custom Values"
                ],
                "summary": "Deletes a custom value from an item.",
                "operationId": "d2f6818a63199c86233692876be48720",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of item to update.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "companies",
                                "projects",
                                "people",
                                "opportunities"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The item ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The custom value IDs",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "customValues": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1234
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item or custom value with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{type}/{id}/documents": {
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Add documents and attachments.",
                "operationId": "01ba71147e711929e3ca168cc5b07356",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of model to add a document to.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "companies",
                                "assignments",
                                "opportunities",
                                "people",
                                "lists"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The item ID of the model.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/api.documentRequest"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.document"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{id}/billing": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Fetches billing information for an item.",
                "operationId": "dafc246f0020450b4f0c684cc0635be6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The project ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.billing"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    }
                }
            }
        },
        "/people/{personId}/aspirations": {
            "post": {
                "tags": [
                    "People (Aspirations)"
                ],
                "summary": "Sets aspiration details for a person",
                "operationId": "fcc919bf20a2613018870c5c27200776",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The aspiration details body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.aspiration.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.person.aspiration"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/{personId}/confidential": {
            "post": {
                "tags": [
                    "People (Confidential Details)"
                ],
                "summary": "Sets confidential details for a person",
                "operationId": "de87df5540c64db1fe8b4008eb6df2d0",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The confidential details body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.confidential.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.person.confidential"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/{personId}/current-status": {
            "post": {
                "tags": [
                    "People (Current Status)"
                ],
                "summary": "Sets current status for a person",
                "operationId": "904d54de196b1b32febc56dd3defcdd7",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The current status body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.currentStatus.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.v2.person.currentStatus"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/{personId}/education": {
            "get": {
                "tags": [
                    "People (Education/Qualifications)"
                ],
                "summary": "Gets all educations for a person",
                "operationId": "18fa324611870dd7704fcb6daf8afca5",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.person.education.sortBy",
                        "name": "sortBy",
                        "in": "query",
                        "description": "The field that should be used to sort the results.\nThe direction can be specified with the `sortOrder` parameter.",
                        "schema": {
                            "description": "The best match if the `query` parameter is used, otherwise they will be ordered by when they were added to the platform.",
                            "type": "string",
                            "enum": [
                                "createdAt",
                                "updatedAt",
                                "start"
                            ],
                            "example": "createdAt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.person.education"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    }
                }
            },
            "post": {
                "tags": [
                    "People (Education/Qualifications)"
                ],
                "summary": "Creates a education for a person",
                "operationId": "9976b683dff26e92e94950181350a231",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The Education body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.education.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.person.education"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/{personId}/education/{educationId}": {
            "put": {
                "tags": [
                    "People (Education/Qualifications)"
                ],
                "summary": "Updates an education for a person",
                "operationId": "f5e0d4b2169b6201fd0febd679124007",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "educationId",
                        "in": "path",
                        "description": "The ID of the education",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "The Education body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.education.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/api.person.education"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Position with that ID does not exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to update that person."
                    }
                }
            },
            "delete": {
                "tags": [
                    "People (Education/Qualifications)"
                ],
                "summary": "Deletes an education for a person",
                "operationId": "1c919f63903d4377a086cea7a7522e29",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The person ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "educationId",
                        "in": "path",
                        "description": "The education ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Education with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to delete that education."
                    }
                }
            }
        },
        "/people/notes": {
            "post": {
                "tags": [
                    "People (Notes)",
                    "Notes"
                ],
                "summary": "Adds notes to one or more people.",
                "operationId": "b3e8d2a1a945d140364b85ad2196d443",
                "requestBody": {
                    "description": "The note body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/api.note.storeRequest"
                                    },
                                    {
                                        "properties": {
                                            "people": {
                                                "description": "An array of person IDs that will have the notes added.",
                                                "type": "array",
                                                "items": {
                                                    "type": "integer",
                                                    "example": 1234
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.person.notesUpdateResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/notes/{id}": {
            "put": {
                "tags": [
                    "People (Notes)",
                    "Notes"
                ],
                "summary": "Updates a note.",
                "operationId": "639e6420cc47544c4061fb89753533d5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The note ID or the group code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The note body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api.note.storeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.note"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api.422"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "People (Notes)",
                    "Notes"
                ],
                "summary": "Deletes a note.",
                "operationId": "09b4c3f9edd258fe0f301a394a679aed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The note ID or the group code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Note with that ID doesn't exist."
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to delete that note."
                    }
                }
            }
        },
        "/people/{personId}/positions": {
            "get": {
                "tags": [
                    "People (Positions)"
                ],
                "summary": "Gets all positions for a person",
                "operationId": "8c677669b21284abe4180996fd26792a",
                "parameters": [
                    {
                        "name": "personId",
                        "in": "path",
                        "description": "The ID of the person",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "parameter": "api.person.position.sortBy",
                        "name": "sortBy",
                        "in": "query",
                        "description": "The field that should be used to sort the results.\nThe direction can be specified with the `sortOrder` parameter.",
                        "schema": {
                            "description": "The best match if the `query` parameter is used, otherwise they will be ordered by when they were added to the platform.",
                            "type": "string",
                            "enum": [
                                "createdAt",
                                "updatedAt",
                                "startDate"
                            ],
                            "example": "createdAt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/api.person.position"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to see that item."
                    }
                }
            },
            "post": {
                "tags": [
                    "People (Positions)"
                ],
[...]
